:host {
    display: block;
    margin-top: 70px; /* Ajusta este valor según la altura de tu header */
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    background-image: url('/assets/images/landing-page.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}